@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Kaushan+Script|Medula+One|Playball|Rye|UnifrakturMaguntia');
font-family: 'Playball', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Medula One', cursive;
font-family: 'Rye', cursive;
body {
  font-size: 18px;
}
.col-lg-12 {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width:800px){
  .aboutUs{
    padding: 15px 0 !important;
  }
  .contentFrame, .pictures{
    padding: 10px !important;
  }
  .frame, .content{
    padding: 5px !important;
  }
}
.header{
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  color: yellow !important;
}
.topMenu{
  /*border: 1px dashed orange;*/
}
.topMenu a, .topMenu a:link{
  font-family: 'Rye', cursive;
  font-size: 18px;
  color: #000000;
}
.menu{
  margin-top: 5px;
  text-align: center;
}
a{
  color: #ffffff;
}
a:link{
  text-decoration: none;
  color: #ffffff;
}
li{
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding: 5px 30px;
}
.landingPage{
  background-image: url("../assets/square4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.logo{
  padding: 15% 0 0 0;
  font-family: 'Playball', cursive;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}
.welcomeNote{
  font-size: 20px;
  font-family: 'Playball', cursive;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40vh;
}
.go{
  padding: 5px 12px;
  text-align: center;
}
.subject{
  padding: 30px;
}
.aboutUs{
  padding: 60px;
  background-image: url("../assets/titanicMap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contentFrame{
  padding: 15px;
}
.content{
  padding: 30px;
}
.pictures{
  padding: 30px;
}
.frame{
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 8px 16px rgba(0,0,0,0.36  );
}
img{
  width: 100%;
}
.ourMenu{

}
.menus{
  padding: 90px;
  color: #ffffff;
}
.menus:hover{
  opacity: 0.7;
  color: black;
}
.breakfast{
  background-image: url("../assets/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.softDrinks{
  background-image: url("../assets/lunch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nyamaChoma{
  background-image: url("../assets/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.beer{
  background-image: url("../assets/dinner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
