@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Great+Vibes|Kaushan+Script|Medula+One|Playball|Rye|UnifrakturMaguntia');
/*font-family: 'Playball', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Medula One', cursive;
font-family: 'Rye', cursive;
font-family: 'Advent Pro', sans-serif;*/
body {
  font-size: 18px;
  font-family: 'Advent Pro', sans-serif;
}
.col-lg-12 {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width:800px){
  .aboutUs{
    /*padding: 15px 0 !important;*/
  }
  .contentFrame, .pictures{
    padding: 10px !important;
  }
  .frame, .content{
    padding: 5px !important;
  }
}
.header{
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  color: yellow !important;
}
.topMenu{

}
.topMenu a, .topMenu a:link{
  font-weight: bold;
  font-size: 24px;
  color: #FFFF00;
  text-shadow: 10px 10px 20px #000000;
}
.menu{
  margin-top: 5px;
  text-align: center;
}
a{
  color: #FFFF00;
}
a:link{
  text-decoration: none;
  color: #FFFF00;
}
li{
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding: 5px 30px;
}
.landingPage{
  background-image: url("../assets/square4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.logoFrame{
  margin: 20vh 0 10vh 0;
}
.logo{
  background-image: url("../assets/print.svg");
  background-repeat: no-repeat;
  background-size: cover;
  float: none !important;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  color: #ffffff;
  text-align: center;
  border: 1px solid transparent;
}
.logoTxt{
  margin-top: 180px;
  font-family: 'Playball', cursive;
  font-size: 60px;
}
.area{
  padding-right: 30px;
  text-align: right;
  font-size: 20px;
}
.welcomeNote{
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.go{
  padding: 5px 12px;
  text-align: center;
}
.subject{
  padding: 30px;
  font-size: 26px;
  font-weight: bold;
  color: #FFFF00;
}
#about{
  background-image: url("../assets/bar22.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.floatRight{
  text-align: right !important;
  padding-right: 0 !important;
}
.floatLeft{
  padding-left: 0 !important;
}
.aboutUs{
  padding: 60px 0;
  background: rgba(255, 255, 255, 0.5);
  /*border: 1px dashed orange;*/
}
.contentFrame{
  padding: 0 15px;
  /*border: 1px dashed orange;*/
}
.content{
  padding: 30px 60px;
  /*border: 1px dashed orange;*/
}
.pictures{
  padding: 0 60px;
  /*border: 1px dashed orange;*/
}
.frame{
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 8px 16px rgba(0,0,0,0.36  );
}
img{
  width: 100%;
}
.ourMenu{
  background-image: url("../assets/menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*height: 100vh;*/
}
.foodText{
  background-color: rgba(255, 255, 0, 0.8);
  padding: 5vh 0 2vh 0;
}
.txt{
  color: #000000;
  padding: 60px;
}
.foodFrame{
  padding: 15px;
}
.foodImg{
  background-image: url("../assets/nyamChom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 100%;
}
.menus{
  padding: 90px;
  color: #ffffff;
}
.menus:hover{
  opacity: 0.7;
  color: black;
}
.breakfast{
  background-image: url("../assets/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.softDrinks{
  background-image: url("../assets/lunch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nyamaChoma{
  background-image: url("../assets/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.beer{
  background-image: url("../assets/dinner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.beers{
  padding: 30px 0 30px 45px;
  color: #ffffff;
  font-size: 18px;
}
.reservations, .contactUs{
  text-align: center;
  padding: 60px;
}
.reserve{
  padding: 30px;
}
.reserve textarea{
  padding: 20px;
}
.fillForm input, .fillForm textarea{
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0);
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.theSubject, .theDate, .peopleNo, .descrption{
  text-align: center;
  padding: 10px;
}
.reserveBtn{
  padding: 60px;
}
.contactUs{
  background-image: url("../assets/titanicMap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.location a{
  color: #000000;
}
.location a:hover{
  text-shadow: 5px 5px 20px #000000;
}
.conts{
  text-align: left !important;
  padding: 15px 70px;
}
.formBtn{
  padding: 30px;
}
.formBtn button{
  text-align: center;
  padding: 7.5px 60px;
}
.glass{
  background: rgba(0, 0, 0, 0.5);
}
.fullName, .emailAddress, .visitor{
  padding: 15px;
}

/*FOOTER*/
.footerSection{
  color: #cccccc;
  padding: 20px 0;
  text-align: center;
  background-color: #000000;
}
.socialMedia{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.socialMedia a{
  margin: 0 60px;
}
.motto{
  font-size: 16px;
  text-shadow: 5px 5px 20px #ffffff;
}
.policyCredits{
  margin-top: 40px;
  padding-top: 10px;
}
.credits{
  font-family: 'Playball', cursive;
  font-size: 18px;
